*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linkss {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
}
body {
    margin: 0;
    text-align: center;
    background-color: #f5f5f5;
    
}
.logo{
    width:150px;
    position: relative;
    top: 3px;
}
header{
    position: fixed;
    width: 100%;

    margin: auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
}
.nav{
    display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
height: 40px;
margin: 0;
font-family: 'DynaPuff', cursive;

}

 ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style-type: none;
    margin: 6px;
}
.home {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
.flex{
    display: flex;
    justify-content: space-around;

    color: black;
}
.help{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.foot{
    width: 120px;
}

.social{
    display: flex;
  justify-content: center;
}

.fa{
    padding-left: 40px;
}
main{
    margin: 0px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    /* margin-left: 146px; */
}
.space {
    background-color: black;
    width: 230px;
    height: 239px;
position: relative;
top: 100px;
border-radius: 10px;
z-index: -5;
right: 30px;
}

.truck {
    position: relative;
}

.img{
    position: relative;
    top: -23px;
    left: 64px;
    border-radius: 10px;
   
}
.deliver{
    font-size: 20px;
    font-family: 'DynaPuff', cursive;
}

input[type=text], select {
    width: 70%;
    height: 30px;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box;
  }
  .request {
    width: 70%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 5px 4px 5px 1px black;
  }
  p{
    font-family:Arial, Helvetica, sans-serif
  }
  button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFD662FF;
    border-radius: 3px;
    width: 100px;
    color: #5a69d7;
}



.map{
    width: 230px;
    height: 239px;
    border-radius: 10px;
}
.hello{
    font-size: 10px;
    color: white;
    text-align: left;
}

.pace{ /* background-color: white; */ /* width: 230px; */ /* height: 194px; */ /* border-radius: 10px; */ right: 40px; /* z-index: 0; */ 
    position: relative; left: 40px;  } 
    
    .log{
        font-size: 13px;
    }
    main{ margin: -1px; } 
   
    .items{
        color: white;
        text-align: left;
        position: absolute;
    }
    .paragraph{
        color: white;
        display: flex;
        font-size: 10px;
        position: absolute;
        top: 39px;
        left: 40px;
    }
    .track{
        padding-left: 49px;
    }
  .gps{
    height: 297px;
    z-index: -22;
  }
 
  .can-help {
    padding-top: 74px;
}
footer.footter {
    background-color: #e5e2e2;
}
a{
    list-style: none;
}
button{
    cursor: pointer;
}
a:link{
    text-decoration: none;
    
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
a{
    color: #000000;
}
.fa-bars{
    display: none;
}
ul.links {
    margin-right: 25px;
}

form.form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 50px; */
}
i.fa.fa-search {
    padding-left: 5px;
    background-color: #FFD662FF;

    color: #5a69d7;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}
main {
    display: flex;
    padding-top: 40px;
    /* height: 5%; */
}

.delivery {
    background-color: white;
    width: 120%;
    /* font-size: 29px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
@media (max-width: 768px) {
.hide{
    display: block;
    width: 100%;
    font-size: 90%;

}
.deliver{
    font-size: 120%;
}
    .nav{
        
        display: flex;
        flex-direction: column;
    }
    .logo{
        position: absolute;
        top: -19px;
        left: 0;

    }

    nav ul{
        /* position: absolute;
        top: 0; */
        background-color: white;
        width: 160px;
        display: flex ;
        flex-direction: column;
        /* left: 150px;      */
       display: none;
    }
 .fa-bars{
    display: block;
    position: absolute;
    top: 12px;
    right: 0;
    cursor: pointer;
 }
 
/* .linkss{
position: absolute;
} */
.truck{
    display: none;
}	

 /* #burger {
		box-sizing: initial;
		display: block;
		width: 1rem;
		color: white;
		cursor: pointer;
		margin-bottom: 0.5em;
	}
	#burger:focus {
		border: none;
		outline: none;
	}
	nav {
		
		background: #ea580c;
		min-width: 15em;
		padding: 2em;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
		clip-path: circle(0% at 100% 0);
		transition: all 500ms ease-in-out;
	}
	nav.show {
		clip-path: circle(200% at 100% 0);
		transition-duration: 300ms;
	}
	nav ul {
		flex-direction: row;
	} */
    .linkss{
        position: absolute;
        right: 0; 
        top: 30px;
       transition:ease-out;
       display: flex;
       flex-direction: column;
    }
button{
    font-size: 60%;
    width: 69px;
    height: 20px;
}
.gps{
    display: none;
}
.flex{
    display: flex;
    flex-direction: column;
}
.help{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    width: 30%;
    height: 30px;
}
.logo{
    width: 100px;
    position: absolute;
    top: -16px;
}
.footer{
    display: flex;
    flex-direction: column;
}
.site{
    padding-top: 30px;
    padding-bottom: 20px;
}
}
@media (max-width: 282px) {
    .form{
        display: none;
    }
}